body {
    font-family: sans-serif;
}

.container {
    width: 100%;
}


.header__heading {
    text-align: center;
}
.main__canvas-wrapper {
    cursor: none;
    width: 640px;
    height: 480px;
    margin: 0 auto;
    border: 1px solid black;
}